    .image:before {
      pointer-events: none;
      background-image: url("../../images/overlay.png");
      background-color: rgba(19, 21, 25, 0.5);
      border-radius: 4px;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      opacity: 0.5;
      position: absolute;
      top: 0;
      width: 100%;
    }

    #bg:before {
      -moz-transition: background-color 2.5s ease-in-out;
      -webkit-transition: background-color 2.5s ease-in-out;
      -ms-transition: background-color 2.5s ease-in-out;
      transition: background-color 2.5s ease-in-out;
      -moz-transition-delay: 0.75s;
      -webkit-transition-delay: 0.75s;
      -ms-transition-delay: 0.75s;
      transition-delay: 0.75s;
      background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("../../images/overlay.png");
      background-size: auto, 256px 256px;
      background-position: center, center;
      background-repeat: no-repeat, repeat;
      z-index: 2;
    }

    #bg:after {
      -moz-transform: scale(1.125);
      -webkit-transform: scale(1.125);
      -ms-transform: scale(1.125);
      transform: scale(1.125);
      -moz-transition: -moz-transform 0.325s ease-in-out, -moz-filter 0.325s ease-in-out;
      -webkit-transition: -webkit-transform 0.325s ease-in-out, -webkit-filter 0.325s ease-in-out;
      -ms-transition: -ms-transform 0.325s ease-in-out, -ms-filter 0.325s ease-in-out;
      transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out;
      background-image: url("../images/back.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 1;
    }